<div class="row">
    <div class="col s12 center-align">
        <h2>Saved Articles</h2>
    </div>
</div>

<div id="article-notes-modal" class="modal ">
    <div class="modal-content">
    </div>
    <div class="modal-footer modalGradientFooter">
        <a class="modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
</div>



{{#if articles}}
    {{#each articles}}
    <div class="card">
        <div class="row">
            <div class="col s4 flex-vertical">
                <a class="btn btn-primary waves-effect orange view-notes" data-article-id="{{_id}}">View Notes</a>
                <a class="btn btn-primary waves-effect green add-note" data-article-id="{{_id}}">Add Note</a>
                <a class="btn btn-primary waves-effect red clear-notes" data-article-id="{{_id}}">Clear Notes</a>
                <a class="btn btn-primary waves-effect red clear-saved" data-article-id="{{_id}}">Clear from Saved</a>
            </div>
            <div class="col s8">
                <h4>{{title}}</h4>
                <p>{{summary}}</p>
                <h5>By: {{author}}</h5>
                <a href="{{articleUrl}}" target="_blank">View article</a>
            </div>
        </div>

    </div>
    {{/each}}
{{/if}}

<script src="/assets/scripts/savedArticles.js"></script>
<script src="/assets/scripts/notes.js"></script>
<script src="/assets/scripts/deleteNote.js"></script>
<script src="/assets/scripts/saveArticle.js"></script>